/* Inicio PAGE Nosotros */
.section__nosotros {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "texto-cafe video"
   "img        texto-granos"
   "fin__img   fin__img";
  }
  
  .nosotros__media video {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: video;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .nosotros__img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img;
    background-image: url(../img/nosotros/granos-nosotros.jpg);
    width: 100%;
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nosotros__texto--granos {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: texto-granos;
    width: 100%;
    height: 40rem;
  }
  
  .nosotros__texto--cafe {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: texto-cafe;
    width: 100%;
    height: 40rem;
  }
  
  .nosotros__texto--cafe,
  .nosotros__texto--granos {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .section__nosotros--finimg {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: fin__img;
    width: 100%;
    min-height: 60rem;
    background-image: url(../img/nosotros/finNosotros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1rem;
  }
  
  /* Fin Nosotros */