
    /*Colores Globlales */
    $blanco: #FFFFFF;
    $oscuro: #212121;
    $gris: #757575;
    $grisClaro: #ebf1f7;
    $grisFondo: #b4b1b1;
    $rojo: rgb(231, 0, 0);

    $fuentePrincipal: 'Roboto', sans-serif;

